* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(#0069ff, #0069ff 50%, #fff 50%);
  color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}